.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
    /* padding: 16px; */
}
.content {
    background-color: #fff;
    border-radius: 16px;
    padding: 24px;
    height: calc(100% - 55px);
    overflow: auto;
}
.btn {
    float: right;
}